<footer class="site-footer">

  <div class="footer-image">
  </div>
  <div class="footer-content">
    <!-- <li>{{ site.title }}</li> -->
    <a href="https://github.com/amdoyle"><img src="{{site.baseurl}}/images/githubPink.png" alt="GitHub.com logo"></a>
    <a href="https://www.linkedin.com/in/annmariedoyle"><img src="{{site.baseurl}}/images/linkedinPink.png" alt="LinkedIn.com logo"></a>
    <a href="https://mobile.twitter.com/AmDoyle"><img src="{{site.baseurl}}/images/twitterPink.png" alt="Twitter.com logo"></a>
  </div>
</footer>
