<header class="site-header group">

  <!-- Header bar with site nav and logo -->
  <div id="navbar">
    <!-- Hamburger Nav bar - present on all screen sizess -->
    <nav class="nav" role="navigation">
    <div class="hamburger-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        <!-- Drop down menu -->
        <ul class="nav-menu">
          <li><a href="#">about</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">resume</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
      </nav>
    <!-- Logo -->
    <div id="logo">
      <img src="images/amWordMark.svg" alt="Am Doyle Web Developer" />
    </div>

  </div>

</header>
