<header class="site-header">

  <div id="navbar">

    <nav class="nav" role="navigation">
    <div class="hamburger-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

        <ul class="nav-menu">
          <li><a href="#">about</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">resume</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </nav>

    </div>
  </div>

</header>
