<header class="site-header group">
  <div class="background-image">
  </div>
  <!-- Header bar with site nav and logo -->
  <div id="navbar">
    <!-- Hamburger Nav bar - present on all screen sizess -->
    <nav class="nav" role="navigation">
    <div id="hamburger-nav">
      <p class="sr-only">Toggle navigation</p>
      <span></span>
    </div>
        <!-- Drop down menu -->
        <ul class="nav-menu">
          <li><a href="{{site.baseurl}}/home">about</a></li>
          <li><a href="{{site.baseurl}}/projects">projects</a></li>
          <li><a href="{{site.baseurl}}/resume">resume</a></li>
          <li><a href="{{site.baseurl}}/contact">contact</a></li>
        </ul>
      </nav>
    <!-- Logo -->
    <div id="logo">
      <img src="{{site.baseurl}}/images/amWordMark.svg" >
    </div>

  </div>

</header>
