/* --------------- BASE STYLES FOR iPhone 5 - 320 x 568 --------------- */

// Site header
.body-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.site-header {
  width: 100%;
  top: 0;
  z-index: 2;
}

// Nav bar
.navbar {
  padding: 0;
  opacity: 1;
  position: relative;
  background-color: $black-color;
  width: calc(100% - 60px);
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  display: flex;

  &:before {
    position: absolute;
    border-top: 55px solid #2c3539;
    border-right: 60px solid transparent;
    box-sizing: border-box;
    content: '';
    right: -60px;
    top: 0;
  }

  h1 {
    color: #fff;
    font-weight: lighter;
  }

  a {
    padding: 10px;
    line-height: 1.1em;
    color: white;
  }

  //Site logo
  #logo {
    padding: 5px 2vw 5px;
    height: auto;
    z-index: 1;

    svg.above-logo {
      width: 40px;
      transition: all .5s ease-in;

      path {
        fill: $brand-color;
      }
    }

    svg.background-logo {
      width: 120px;
      height: 120px;
      transition: all .5s ease-in;
      position: absolute;
      z-index: -1;


      path {
        fill: $brand-color;
      }
    }

    &:hover svg.above-logo {
      path {
        animation: logo-fade 5s ease infinite;
      }
    }

    &:hover svg.background-logo {
      transition: all .25s ease-in-out;
      animation: logo-rotate 5.5s ease;

      path {
        animation: logo-fade 5.5s ease;
      }
    }
  }
}

#current-page {
  color: $brand-color;
}

@keyframes logo-fade {
  0% {
    fill: $brand-color;
  }

  50% {
    fill: lighten($brand-color, 10%);
  }

  100% {
    fill: $brand-color;
  }
}


.main-content {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex: 1 0 auto;

  & h2.headline {
    padding: 5px 10px;
    margin: 0 0 35px;
    color: $black-color;
    font-family: $title-font-family;
    font-size: $title-size;
    box-sizing: border-box;
    position: relative;

    &::before {
      height: 1em;
      width: 100%;
      display: block;
      background: transparentize($brand-color, .75);
      left: 0;
      content: '';
      top: 0%;
      position: absolute;
      z-index: -1;
    }
  }

  .description-box {
    padding: 1em;
    background:rgba($black-color, .9);
    color: $white-color;

    p {
      margin-bottom: 1em;
    }
  }
}

.body-content {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 980px) {
    flex-direction: row;
    max-width: 75%;
  }

  .col-1 {
    display: none;
    width: 100%;

    img {
      max-height: 150px;
      max-width: 100%;
      display: inline;

      @media (min-width: 980px) {
        max-height: 300px;
        height: auto;
      }
    }

    @media (min-width: 980px) {
      display: block;
      width: 38%;
      margin-right: 2%;
    }
  }

  .col-2 {
    width: 100%;
    display: block;

    @media (min-width: 980px) {
      width: 60%;
    }
  }
}

.body-content-image-wrapper {
  width: 50%;
}

.site-footer {
  height: auto;
  margin: 0;
  border-bottom: 55px solid $black-color;
  border-left: 60px solid transparent;
  position: relative;

  ul {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    transform: translateY(38%);
    justify-content: space-around;

    @media (min-width: 780px) {
      width: 85vw;
      margin-right: 15vw;
    }
  }

  li {
    i.fa {
      color: $white-color;
      font-size: 2em;
      transition: .3s color ease-in;
    }

    a .fa:hover,
    a .fa:focus {
      color: $brand-color;
    }
  }
}

#about {
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;

  & img {
    max-width: 200px;
    max-height: 200px;
    align-self: center;
    padding: 3%;
    display: inline;
  }

  & p {
    width: 50%;
    padding: 5%;
    display: inline;
  }
}

.pink {
  color: $brand-color;
}

.sr-only {
  color: transparent;
}
