/* --------------- BASE STYLES FOR iPhone 5 - 375 x 667 --------------- */

 // Site header
.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.group::before, .group::after {
  content:"";
  display: table;
}
.group::after {
  clear:both;
}
.group {
  zoom: 1; /*IE6&7*/
}
.site-header {
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 15;
}
.background-image {
  opacity: 0.8;
  background-image: url('/images/code.png');
  height: 6em;
  width: 100%;
  position: fixed;
}

// Nav bar
.header-img {
  width: 100%;
  position: relative;
  opacity: .5;
  z-index: -5;
}

#navbar {
  opacity: 1  ;
  position: relative;
  z-index: 10;
  width: 75%;
  border-top: 3em solid $grey-color;
  border-right: 3em solid rgba(0,0,0,0);
  margin: 7% 10% 0 0;
  padding: 1% 0 3% 0;
  display: flex;
  flex-direction: row;
  order: 1 0 auto;
}
.nav {
  opacity: 1;
  width: 15%;
  margin-top: -15%;
  padding: 0 10%;
}
.nav-menu {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  padding: 0 10% 10% 0;
  margin-top: -150%;
  margin-left: -70%;
  display: block;
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparentize($grey-color, 0.05);
  z-index: 11;
  & li {
    width: auto;
    z-index: 2;
  }
  & a {
    line-height: 1.1em;
    text-decoration: none;
    color: white;
    z-index: 3;
  }
  & a:hover{
    color: $secondary-color-dark;
  }
}

#hamburger-nav {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  content: "";
  & span, span:before, span:after {
  width: 100%;
  height: .15em;
  position: absolute;
  display: block;
  content: "";
  background-color: $secondary-color;
  transition: all .25s ease-in-out;
} & span {
  margin-top: .5em;
  margin-bottom: 10%;
} & span:before {
  top: -.5em;
} & span:after {
  bottom: -.5em;
}
  & p {
    display:none;
  }
}
#hamburger-nav.close-button span{
  height: 0;
}
#hamburger-nav.close-button span:before {
  transform: rotate(45deg);
  top: -.05em;
}
#hamburger-nav.close-button span:after {
  transform: rotate(-45deg);
  bottom: -.15em;
}
.sr-only {
  height: 0;
  display: none;
}

//Site logo
#logo {
  display: inline-block;
  margin-top: -15%;
  width: 40%;
  position: absolute;;
  transition: all .25s ease-in-out;
}

.dim {
  opacity: .2;
}

.main-content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 5% 0 10% 0;
  order: 2;
  flex: 1;
  margin-top: 30%;
  margin-left: 7%;
  margin-right: 7%;
  & h1 {
    font-family: $title-font-family;
    font-size: $title-size;
  } & h2 {
    // font-size: 1.5em;
    padding-bottom: 2%;
  } & ul {
    padding-bottom: 2%;
  }
}

.resume-content {
    margin-top: 5%;
}

.site-footer {
  width: 95%;
  height: 0px;
  order: 3;
  margin-left: 7%;
  align-self: flex-end;
  margin-bottom: 20%;
  font-size: .5em;
  line-height: 1em;
}

.footer-content {
  height: 100%;
  margin-left: 5%;
  border-bottom: 4em solid #282c34;
  border-left: 3em solid transparent;
  flex: 1;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  & a {
    color: $brand-color;
  }
}

ul.contact-list {
  margin-top: 3.5em;
}

#about img {
    width: 50%;
    margin: 0 15%;
    padding: 10%;
  }

#projects h1 {
  padding-bottom: 5%;
}
#projects img {
  width: 100%;
}

#projects li {
  padding-bottom: 1%;
}

.project-content{
  margin-bottom: 2%;
}

.arrow {
  display: inline-block;
  transition: all .5s ease-in-out;
  font-size: 1.2em;
}

.rotate-open {
  display: inline-block;
  transform: rotate(90deg);
}

.resume-content-li li:before {
  content: "• ";
  color: $brand-color;
}

/* --------------- iPhone 6 --------------- */
@media screen and (min-width: 374px) and (orientation: portrait){

  .nav {
    margin-top: -13%;
    }
  // #logo{
  //   margin-top: -3em;
  // }

}

/* --------------- iPhone 6plus --------------- */
@media screen and (min-width: 413px) {

  .nav {
    margin-top: -12%;
  }
  #logo {
    margin-top: -14%;
  }

}

/* --------------- Mobile Landscape Orientation: iPhone 5 --------------- */
@media screen and (min-width: 514px), handheld and (orientation: landscape) {

  #navbar {
    border-top: 4em solid $grey-color;
    border-right: 4em solid transparent;
    margin-bottom: 0;
  }

  #hamburger-nav span {
    width: 70%;
    margin-top: 1.5em
  }

  #logo{
    margin-top: -3.75em;
  }

  .main-content {
    padding-top: 0;
    & img {
      width: 75%;
      height: auto;
    }
  }

}
/* --------------- Mobile Landscape Orientation: iPhone 6  & tablet portrait  --------------- */
@media screen and (min-width: 651px), handheld and (orientation: landscape) {


  .nav {
    margin-top: -15%;
  }
  #navbar {
    border-top: 4em solid $grey-color;
    border-right: 4em solid transparent;
  }

  #hamburger-nav span {
    width: 63%;
    margin-top: 2.75em;
  }
  #logo{
    margin-top: -12%;
  }
  .nav-menu {
    margin-top: -110%;
    margin-left: -75%;
    & a{
      line-height: 2em;
    }
  }
  .main-content {
    padding-top: 0;
    & img {
      width: 75%;
      height: auto;
    }
  }

}

/* --------------- Mobile Landscape Orientation: iPhone 6  & tablet portrait  --------------- */
@media screen and (min-width: 1000px) and (max-width: 1199px), handheld and (orientation: landscape) {


  #navbar {
    border-top: 6em solid #282c34;
    border-right: 6em solid transparent;
  }

  #hamburger-nav {
    width: 50%;
  }

  #hamburger-nav span {
    height: 0.3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #hamburger-nav span:before {
    height: 0.3em;
    top: 1em;
  }

  #hamburger-nav span:after {
    height: 0.3em;
    bottom: 1em;
  }

  #hamburger-nav.close-button span:after{
    // width: 75%;
    margin-bottom: 0;
  }
  #hamburger-nav.close-button span:before{
    // width: 75%;
    top: -0.3em;
    margin-top:0;
  }

  #logo {
    margin-top: -6em;
    width: 40%;
    margin-left: 15%;
  }

  .nav-menu {
    width: 88vw;
    margin-left: -100%;
    margin-top: -25%;
    padding-top: 60%;
    & li {
      padding: 2%;
    }
  }
  .main-content {
    margin-top: 20%;
  }

  .resume-content {
    margin-bottom: -2%;
  }

  .footer-content {
    border-bottom: 6em solid #282c34;
    border-left: 6em solid transparent;
  }

  #projects img, .extra-content {
    width: 90%;
    align-items: center;
    padding-right: 0;
    margin-right: 0;
  }


  .row-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
  }

}

/* --------------- Laptop  --------------- */
@media screen and (min-width: 1100px) and (max-width: 1999px), handheld and (orientation: landscape) {

  .main-content {
    padding-top: 0;
    margin-top: 20%;
  }

  .background-image {
    height: 20%;
  }

  #navbar {
    border-top: 7em solid $grey-color;
    border-right: 7em solid transparent;
  }

  .nav {
    width: 10%;
  }

  #hamburger-nav span {
    margin-top: 5.5em;
    height: .25em;
  }

  #hamburger-nav span:before {
    height: .25em;
    top: 1em;
  }

   #hamburger-nav span:after {
     height: .25em;
     bottom: 1em;
   }

   #logo {
     margin-top: -7.25em;
     padding-left: 25%;
     width: 35%;
   }


  // #hamburger-nav.close-button span:after{
  //   width: 75%;
  //   margin-bottom: -2.5em;
  // }
  // #hamburger-nav.close-button span:before{
  //   width: 75%;
  //   margin-top: -1em;
  // }

  .nav-menu {
    width: 88vw;
    border-right: 4px solid transparentize($grey-color, 0.05);
    padding-top: 25%;
    margin-left: -140%  ;
    height: auto;
    margin-top: 85%;
    & li {
      padding: 2%;
      font-size: 1.5em;
    }
  }

  .dim {
    opacity: 100;
  }

  .footer-content {
    border-bottom: 6em solid #282c34;
    border-left: 6em solid transparent;
    padding-top: 10%;
    & a, p{
      // font-size: 1.5em;
    } & ul {
      padding-top: 2%;
    }
  }

  #projects img, .extra-content {
    width: 90%;
  }

  .row-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
  }

}
// @media screen and (min-width: 1234px) and (max-width:1999px) {
// }
/* --------------- Large Screens  --------------- */
@media screen and (min-width: 2000px) and (max-width: 2999px) {

  .background-image {
    height: 20em;
  }

  .nav {
    width: 20%;
    margin-top: -14%;
  }

  #navbar {
    border-top: 13em solid $grey-color;
    border-right: 13em solid transparent;
  }

  #hamburger-nav {
    width: 25%;
  }
  #hamburger-nav span {
    margin-top: 8.5em;
    height: .5em;
  }

  #hamburger-nav span:before {
    top: 1.5em;
    height: .5em;
  }

  #hamburger-nav span:after {
    bottom: 1.5em;
    height: .5em;
  }

  #hamburger-nav.close-button span:before {
    top: 0;
  }

  #hamburger-nav.close-button span:after {
    bottom: -1em;
  }

  .nav-menu{
    width: 88vw;
    padding: 10% 10% 10% 0;
    height: auto;
    margin-left: -75%;
    margin-top: 43%;
    & li {
      padding: 1%;
      font-size: 2em;
    }
  }

  #logo {
    width: 35%;
    margin-top: -13em;
  }

  .dim {
    opacity: 100;
  }

  .main-content {
    padding-top: 0;
    margin-top: 20%;
    & h1 {
      text-align: center;
    }
  }

  #about img {
    float: left;
    width: 25%;
    box-sizing: padding-box;
    padding-right: 10%;
    padding-top: 5%;
    margin: 0;
  }

  #about p {
    float: left;
    width: 50%;
    padding-top: 5%;
  }

  #projects img, .extra-content {
    width: 60%;
  }

  .row-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
  }

  .resume-content {
    padding-top: 2%;
    margin: 0;
    & ul {
      padding-bottom: .75em  ;
    }
  }

  #contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 3000px) and (max-width: 3999px) {

  .background-image {
    height: 20%;
  }

  #navbar {
    border-top: 15em solid #282c34;
    border-right: 15em solid transparent;
  }


  .nav-menu {
    margin-top: 40%;
  }

  #logo {
    width: 37%;
    margin-top: -11%;
  }

  #hamburger-nav {
    width: 75%;
    margin-top: 50%;
   & span {
    height: 1em;
  } & span:before {
    height: 1em;
    top: -2em;
  } & span:after {
      height: 1em;
      top: 2em;
    }
  }
}
