/* --------------- BASE STYLES FOR iPhone 5 - 320 x 568 --------------- */

 // Site header
.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  & h1 {
    text-align: center;
  }
}
.group::before, .group::after {
  content:"";
  display: table;
}
.group::after {
  clear:both;
}
.group {
  zoom: 1; /*IE6&7*/
}
.site-header {
  height: 20%;
  width: 100%;
  // margin-bottom: 5%;
  // flex: 1 0 10%;
  position: fixed;
  z-index: 15;
  // order: 1;
  top: 0;
}
.background-image {
  opacity: 0.8;
  background-image: url('../images/code.png');
  height: 5em;
  width: 100%;
  position: fixed;
}

// Nav bar
.header-img {
  width: 100%;
  position: relative;
  opacity: .5;
  z-index: -5;
}

#navbar {
  opacity: 1  ;
  position: relative;
  z-index: 10;
  width: 80%;
  border-top: 3em solid $grey-color;
  border-right: 3em solid rgba(0,0,0,0);
  margin: 4% 10% 0 0;
  padding: 1% 0 3% 0;
  display: flex;
  flex-direction: row;
  // order: 1 0 auto;
}

.nav {
  opacity: 1;
  width: 25px;
  margin-top: -31px;
  padding: 0 5% 0 10%;
  z-index: 1;
}

.nav-menu {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  padding: 0 10% 200% 0;
  margin-top: -150%;
  margin-left: -115%;
  display: block;
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparentize($grey-color, 0.05);
  z-index: 11;
  & li {
    width: auto;
    z-index: 2;
    padding-bottom: 2%;
  }
  & a {
    line-height: 1.1em;
    text-decoration: none;
    color: white;
    z-index: 3;
  }
  & a:hover{
    color: $secondary-color-dark;
  }
}

#hamburger-nav {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  content: "";
  & span, span:before, span:after {
  width: 100%;
  height: .1em;
  position: absolute;
  display: block;
  content: "";
  background-color: $secondary-color;
  transition: all .25s ease-in-out;
  z-index: 5;
}  & span:before {
  top: -.5em;
} & span:after {
  bottom: -.5em;
}  & p {
    display:none;
  }
}
#hamburger-nav.close-button span{
  height: 0;
}
#hamburger-nav.close-button span:before {
  transform: rotate(45deg);
  height: .2em;
  top: 0;
}
#hamburger-nav.close-button span:after {
  transform: rotate(-45deg);
  height: .2em;
  bottom: -.2em;
}
.sr-only {
  height: 0;
  display: none;
}

//Site logo
#logo img {
  display: inline-block;
  margin-top: -48px;
  width: 150px;
  position: absolute;;
  transition: all .25s ease-in-out;
}

.dim {
  opacity: .2;
}

// #fix {
//   padding: 2% 0 10% 0;
//   // top: 30%;
//   // margin-top: 20%;
//   // margin-left: 7%;
//   // margin-right: 7%;
//   // position: relative;
//   // order: 2;
// }


.main-content {
  position: relative;;
  z-index: 0;
  margin-top: 25%;
  // padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  order: 2;
  // -webkit-padding-before: 10%;
  flex: 1;
  & h1 {
    font-family: $title-font-family;
    font-size: $title-size;
    padding: 10% 0 5% 0;
  } & h2 {
    padding-bottom: 2%;
  } & ul {
    padding-bottom: 2%;
  }
}

.resume-content {
    margin-top: 5%;
}

.site-footer {
  position: fixed;
  width: 100vw;
  height: 0px;
  bottom: 0;
  // margin-bottom: -4%;
  // order: 3;
  margin-left: 7%;
  align-self: flex-end;
  font-size: .5em;
  line-height: 1em;
  z-index: 5;
}

.footer-content {
  height: 100%;
  margin: -75px 0 5% 5%;
  padding-left: 5%;
  border-bottom: 4em solid #282c34;
  border-left: 3em solid transparent;
  flex: 1;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: baseline;
   & img {
    display: inline;
    margin: 5% 0 5% 0;
    padding: 2%;
    width: 25%;
    height: 25%;
  }
}

.footer-image {
  opacity: 0.8;
  background-image: url('../images/code.png');
  height: 5em;
  margin-left: -5%;
  z-index: -5;
  // top: 91%;
  position: relative;;
}
#about {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
 & img {
    width: 50%;
    margin: 0 15%;
    padding: 10%;
  }
}

#projects img {
  width: 100%;
}

#projects li {
  padding-bottom: 1%;
}

.project-content{
  margin-bottom: 2%;
}

.arrow {
  display: inline-block;
  transition: all .5s ease-in-out;
  font-size: 1.2em;
}

.rotate-open {
  display: inline-block;
  transform: rotate(90deg);
}

.resume-content-li li:before {
  content: "// ";
  color: $brand-color;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about img {
  width: 50%;
  height: auto;
}

.pink {
  color: $brand-color;
}


/* --------------- iPhone 6 --------------- */
@media screen and (min-width: 360px) and (orientation: portrait){

}

/* --------------- iPhone 6plus --------------- */
@media screen and (min-width: 400px) {

  .nav-menu {
    margin-top: -199%;
    margin-left: -145%;
  }

}

/* --------------- Mobile Landscape Orientation: iPhone 5 --------------- */
@media screen and (min-width: 500px) {


  .nav-menu {
    margin-left: -190%;
    margin-top: -254%;
  }

  #navbar {
    border-top: 3em solid $grey-color;
    border-right: 3em solid transparent;
    margin-bottom: 0;
  }


  .main-content img {
      width: 75%;
      height: auto;
  }

}
/* --------------- Mobile Landscape Orientation: iPhone 6  & tablet portrait  --------------- */
@media screen and (min-width: 600px) {


  .fix {
    margin-top: 35%;
  }

  .nav-menu {
    margin-left: -235%;
    margin-top: -304%;
    & a{
      line-height: 2em;
    }
  }

  .main-content img {
      width: 75%;
      height: auto;
  }

  .body-content {
    padding-bottom: 5%;
  }

  #about .body-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 5%;
    & img {
      align-self: center;
      padding: 0 2% 2% 2%;
      margin: 0 5% 0 0;
      width: 25%;
      // height: 25%;
    }
  }

}

@media screen and (min-width: 700px) {
}


/* --------------- Mobile Landscape Orientation: iPhone 6  & tablet portrait  --------------- */
@media screen and (min-width: 1000px) {


  .nav {
    width: 50px;
    margin-top: -46px;
  }

  #navbar {
    border-top: 4em solid #282c34;
    border-right: 4em solid transparent
  }

  #hamburger-nav span {
    height: 0.25em;
  }

  #hamburger-nav span:before {
    height: 0.25em;
    top: -.75em;
  }

  #hamburger-nav span:after {
    height: 0.25em;
    top: .75em;
  }

  #hamburger-nav.close-button span:after{
    height: 0.25em;
    top: 0;
  }

  #hamburger-nav.close-button span:before{
    height: 0.25em;
    top: 0;
    margin-top:0;
  }

  #logo img {
    margin-top: -62px;
  }

  .nav-menu {
    width: 81.5vw;
    height: auto;
    margin-left: -105px;
    margin-top: 25%;
    justify-content: flex-start;
    padding-top: 85%;
    & li {
      padding: 1%;
    }
  }
  .main-content h1 {
      padding: 0;
  }

  .footer-content img {
    margin-top: 13%;
  }

  .resume-content {
    margin-bottom: -2%;
  }

  .footer-content {
    border-bottom: 6em solid #282c34;
    border-left: 6em solid transparent;
  }

  #projects img, .extra-content {
    width: 90%;
    align-items: center;
    padding-right: 0;
    margin-right: 0;
  }

  .row-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
  }

  #about .body-content {
    flex-direction: row;
    img {
      float: left;
      align-self: flex-start;
      width: 25%;
      box-sizing: padding-box;
      padding-right: 10%;
      padding-top: 0;
      margin: 0;
    }
  }

  #about p {
    float: left;
    width: 25%;
  }

}

/* --------------- Laptop  --------------- */
@media screen and (min-width: 1100px) {


  #hamburger-nav span {
    height: .25em;
  }

  #hamburger-nav span:before {
    height: .25em;
    top:  -.75em;
  }

   #hamburger-nav span:after {
     height: .25em;
     bottom: -.75em;
   }

  .nav-menu {
    border-right: 4px solid transparentize($grey-color, 0.05);
    width: 80.5vw;
    margin-left: -118px;
    & li {
      padding: 2%;
      font-size: 1.5em;
    }
  }

  .dim {
    opacity: 100;
  }

  .footer-content {
    border-bottom: 6em solid #282c34;
    border-left: 6em solid transparent;
  }

  #projects img, .extra-content {
    width: 90%;
  }


}

@media screen and (min-width: 1500px) {
  .nav-menu {
    margin-left: -167px;
  }
}

/* --------------- Large Screens  --------------- */
@media screen and (min-width: 2000px) {

  .fix {
    margin-top: 8%;
  }

  .nav {
    margin-top: -67px;
  }

  #logo img {
    margin-top: -83px;
  }

  #navbar {
    border-top: 5em solid $grey-color;
    border-right: 5em solid transparent;
    margin-top: 5%;
  }

  #hamburger-nav span:after {
    top: .75em;
  }

  .nav-menu{
    width: 80vw;
    padding: 10% 10% 10% 0;
    height: auto;
    margin-left: -200px;
    margin-top: 20%;
    & li {
      padding: 1%;
      font-size: 2em;
    }
  }
  .dim {
    opacity: 100;
  }

  .main-content {
    padding: 0 12%;
    & h1 {
      text-align: center;
    }
  }

  .footer-image {
    height: 10em;
  }

  .footer-content {
    margin-top: -105px;
  }

  #projects img, .extra-content {
    width: 60%;
  }

  .resume-content {
    padding-top: 2%;
    margin: 0;
    & ul {
      padding-bottom: .75em  ;
    }
  }

  #about img {
      width: 10%;
      height: 10%;
    }

}

@media screen and (min-width: 2600px) {




}


@media screen and (min-width: 3000px) {

  #navbar {
    border-top: 6em solid #282c34;
    border-right: 6em solid transparent;
  }

  .nav {
    margin-top: -80px;
  }

  .nav-menu {
    margin-top: 67%;
    margin-left: -562%;
    width: 80vw;
  }

  #logo img {
    width: 250px;
    margin-top: -110px;
  }

  #hamburger-nav {
   & span {
    height: .35em;
  } & span:before {
    height: .35em;
    top: -1em;
  } & span:after {
      height: .35em;
      top: 1em;
    }
  }

  #hamburger-nav.close-button span:before {
      height: .5em;
      top: 0em;
    }
  #hamburger-nav.close-button span:after {
      height: .5em;
      top: 0em;
    }
}

@media screen and (min-width: 3500px) {

  #navbar {
    margin-top: 3%;
  }

  .nav {
    margin-top: -90px;
  }

  #logo img {
    margin-top: -118px;
  }

  .nav-menu {
    margin-left: -604%;
  }
}

@media screen and (min-width: 4000px) {

  .nav {
    margin-top: -93px;
  }

  #logo img {
    margin-top: -120px;
  }

  .nav-menu {
    width: 83vw;
    margin-left: -450px;
  }
}


@media screen and (min-width: 4500px) {
  #navbar {
    margin-top: 3%;
  }

  .nav {
    margin-top: -98px;
  }

  #logo img {
    margin-top: -126px;
  }

  .nav-menu {
    width: 81vw;
    margin-top: 0;
    margin-left: -450px;
  }

}

@media screen and (min-width: 5000px) {
  #navbar {
    margin-top: 2.5%;
  }

  .nav {
    margin-top: -100px;
    width: 75px;
  }

  .nav-menu {
    width: 80.5vw;
    margin-left: -450px;
  }

  #logo img {
    margin-top: -128px;
  }
}
